{% extends 'base.html' %}

{% block body %}
  
        <!-- Left Container (Image) -->
        <div class="left-container">
            <img src="{{ url_for('static', filename='images/images.jpeg') }}" alt="Welcome Image" class="img-fluid" style="width: 100%; height: 100%;" />
        </div>

        <!-- Right Container (Login Form) -->
        <div class="right-container">
            <div class="form-container">
                <h1>Welcome. Let's get started!</h1>

                <form action="{{ url_for('login') }}" method="POST">
                    <input type="text" name="username" placeholder="Username" class="input-field" required>
                    <input type="password" name="password" placeholder="Password" class="input-field" required>
                    <input type="submit" value="Login" class="btn btn-large">
                </form>
            </div>
        </div>

{% endblock %}
